*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease-out;
}

:root {
    /* Primary */
    --moderateBlue: #5457b6;
    --softRed: #ed6468;
    --lightGrayishBlue: #c3c3ef;
    --paleRed: #ffb8bb;

    /* Neutral */
    --darkBlue:  #324152;
    --grayishBlue: #67727e;
    --lightGray: #eaecf1;
    --veryLightGray:  #f5f6fa;
    --white: #ffffff;

    /* Font Size */
    --fs-paragraph: 16px;

    /* Border Radius */
    --comment-radius: 8px;
    --vote-radius: 10px;

    /* Padding */
    --padding-comment: 24px;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: var(--fs-paragraph);
    background-color: var(--veryLightGray);
    padding: 64px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    justify-content: center;
}

body.delete::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    mix-blend-mode: normal;
    top: 0;
    left: 0;
}

.json-comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment-reply {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.comments {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100%;
    max-width: 730px;
    margin: 0 auto;
    gap: 20px;
}

.comment,
.add-comment {
    background-color: var(--white);
    border-radius: var(--comment-radius);
    padding: var(--padding-comment);
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
}

.vote {
    min-width: 40px;
    height: 100px;
    padding: 12px 5px;
    border-radius: var(--vote-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: var(--veryLightGray);
}

.vote-icon {
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vote-icon:hover > svg path{
    fill: var(--moderateBlue);
}

.vote-icon.active > svg path {
    fill: var(--moderateBlue);
}

.vote-number {
    color: var(--moderateBlue);
    font-weight: 500;
}

.comment__body {
    display: flex;
    flex-direction: column;
    gap:15px;
    width: 100%;
    position: relative;
}

.comment__body-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-author {
    display: flex;
    align-items: center;
    gap: 16px;
}

.comment-author-image {
    width: 32px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.comment-author-name {
    color: var(--darkBlue);
    font-weight: 500;
}

.comment-date {
    color: var(--grayishBlue);
    line-height: 1.5;
}

.action {
    position: absolute;
    top: 16px;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 16px;
}

.edit,
.reply {
    color: var(--moderateBlue);
}

.delete {
    color: var(--softRed);
}

.action > button {
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: 1.5;
    font-weight: 500;
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
}

.delete:hover {
    color: var(--paleRed);
}

.delete:hover > svg path {
    fill: var(--paleRed);
}

.edit:hover > svg path,
.reply:hover > svg path {
    fill: var(--lightGrayishBlue);
}

.edit:hover,
.reply:hover{
    color: var(--lightGrayishBlue);
}

.comment__content {
    line-height: 1.5;
    color: var(--grayishBlue);
}

.replied {
    display: flex;
    gap: 40px;
    margin-left: 40px;
}

.you {
    padding: 2px 6px;
    background-color: var(--moderateBlue);
    color: var(--white);
    border-radius: 2px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
}

hr {
    color: #E9EBF0;
}

.my-comment {
    width: 100%;
}

.replied-comments {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.replied-name {
    color: var(--moderateBlue);
    font-weight: 500;
}

.add-comment {
    gap: 16px;
    align-items: flex-start;
    justify-content: space-between;
}

.add-comment-area {
    padding: 12px 24px;
    height: 96px;
    width: 100%;
    resize: none;
    outline: 0;
    border: 1px solid #E9EBF0;
    border-radius: 8px;
    color: var(--darkBlue);
    line-height: 1.5;
}

.add-comment-area::placeholder{
    color: var(--grayishBlue);
    line-height: 1.5;
    opacity: 1;
}

.add-comment-area:focus {
    border: 1px solid var(--moderateBlue);
}

.button {
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: var(--moderateBlue);
    color: var(--white);
    border-radius: 8px;
    font-weight: 500;
    height: 48px;
    line-height: 1.5;
    padding: 12px 30px;
}

.button:hover,
.button:active {
    background-color: var(--lightGrayishBlue);
}

.delete-comment {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--white);
    padding: 32px;
    border-radius: 8px;
    max-width: 400px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 20px;
    display: none;
}

.delete-comment > h4 {
    color: var(--darkBlue);
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.delete-comment > p {
    color: var(--grayishBlue);
    line-height: 1.5;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
    height: 48px;
}

.buttons > button {
    border: 0;
    outline: 0;
    color: var(--white);
    border-radius: 8px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
}

.cancel-delete {
    background-color: var(--grayishBlue);
}

.cancel-delete:hover {
    opacity: .75;
}

.agree-delete {
    background-color: var(--softRed);
}

.agree-delete:hover {
    background-color: var(--paleRed);
}

@media screen and (max-width: 768px) {
    :root {
        --padding-comment:16px ;
    }

    body {
        padding: 32px 16px;
    }

    .comment {
        align-items: flex-start;
        flex-direction: column-reverse;
        gap: 16px;
        position: relative;
    }

    .vote {
        min-width: 100px;
        height: 40px;
        display: flex;
        flex-direction: row;
    }

    .comment__body {
        position: static;
    }

    .action {
        top: calc(100% - 26px);
        right: 0;
        transform: translate(-16px, -100%);
    }

    .replied {
        gap: 16px;
        margin-left: 0px;
    }

    .replied-comments {
        width: 100%;
        gap: 16px;
    }

    .add-comment {
        flex-flow: wrap;
        align-items: center;
    }

    .add-comment > .comment-author-image {
        order: 2;
    }

    .send {
        order: 2;
    }

    .delete-comment {
        padding: 28px;
        max-width: 100%;
        width: calc(100% - 32px);
        gap: 16px;
    }
    
    .delete-comment > h4 {
        font-size: 20px;
        line-height: 24px;
    }
    
    .buttons {
        gap: 12px;
    }
}